@import "./global";

.about {
  display: flex;
  justify-content: center;
  align-items: flex-start; // Align items at the top
  min-width: 70vh;
  color: white;
  width: 70vw;
  margin: auto;
  margin-top: 20vh;

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .image {
      width: 300px;
      margin: 20px;
      border-radius: 5px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }

  .aboutContent {
    margin: 20px;
    color: $heading-text-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      // background-color: red;
      margin-bottom: 0;
      margin-left: 10px;
    }

    .text {
      // background-color: white;
      // color: $font-color;
      margin-top: 0;
      color: white;
      padding: 10px;
      border-radius: 10px;
      // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .social {
      a {
        outline: 1px solid white;
        padding: 5px;
        border-radius: 5px;
        font-size: 1rem;
        color: $font-secondary;
        margin: 5px;

        &:hover {
          background-color: $font-secondary;
          color: $font-color;
        }
      }
    }
  }

  @media (max-width: $max-width-medium-device) {
    width: 100%;
    min-width: 50%;
    flex-direction: column;
    align-items: center;
    // background-color: white;
    margin-top: 0px;

    .aboutContent {
      // background-color: red;
      width: 100%;
      h1 {
        text-align: center;
        margin-top: 0px;
      }

      .text {
        text-align: center;
      }
      .social {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media (min-width: $max-width-small-device) and (max-width: $max-width-medium-device) {
    .aboutContent {
      // background-color: red;
      width: 70%;
      // margin-top: 0;
    }
  }

  @media (min-width: $max-width-medium-device) and (max-width: $max-width-large-device) {
    width: 95%;
    // margin-top: 0;
  }

  // @media (min-height: $max-height-small-device) {
  //   margin-top: 20vh;
  // }
}
