@import "./_global.scss";

body {
  background-image: url("../assets/images/background.png");
}

.App {
  width: 500px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 40%;
  margin: -150px 0 0 -250px;
  font-family: avenir-web, Avenir;
  // background-color: white;
}

.profileImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
}

.circle {
  padding: 0;
  margin: 0;
  margin-left: 1em;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    position: absolute;
    color: $font-secondary;
    // outline: 1px solid $font-secondary;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border-radius: 50%;
      color: $font-color;
      outline: 1px solid $font-color;
      background-color: $font-secondary;
    }
  }
}

.info {
  // background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // background-color: red;
  margin: 20px;

  .name {
    // color: #fff;
    font-size: 40px;
    font-weight: normal;
    color: $heading-text-secondary;
    margin-top: 50px;
    margin-bottom: 0px;
    // padding: 0px;
    // background-color: yellow;
    // padding-top: 2.5em;
  }

  .description {
    // padding-top: 0.5em;
    font-size: 1.2em;
    // color: #ccc;
    margin: 0px;
    padding: 0px;
    color: $body-text-color-secondary;
    // background-color: red;
  }

  .interest {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 1.5em;
  }
}
