@import "../../styles//global";

.contactUs {
  color: white;
  width: 70vw;
  margin: auto;

  @media (max-width: $max-width-small-device) {
    // width: 100%;
    width: 90vw;
    // max-width: 95vh;
    overflow-x: hidden;
    box-sizing: border-box;
    // background-color: red;
    // padding: 10px;
  }

  @media (min-width: $max-width-medium-device) and (max-width: $max-width-large-device) {
    width: 90vw;
  }

  h1 {
    text-align: center;
  }

  .contactForm {
    display: flex;
    @media (max-width: $max-width-medium-device) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .directConnect {
      width: 50%;
      margin: 10px;
      padding: 10px;
      @media (max-width: $max-width-medium-device) {
        width: 100%;
        margin: 0;
        padding: 0;
      }

      h2 {
        color: $mui-primary;
      }

      .description {
        color: $body-text-color;
      }

      .buttons {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
      }

      .emailLink {
        // color: rgb(60, 92, 233);
        color: $body-text-color;
        &:hover {
          color: $body-text-color-secondary;
        }
      }
    }

    .separator {
      background-color: white;
      width: 2px;
      margin: 20px;

      @media (max-width: $max-width-medium-device) {
        height: 2px;
        width: 100%;
      }
    }

    .socialConnect {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-around;
      @media (max-width: $max-width-medium-device) {
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      .socialConnectItem {
        margin: 20px;
        .socialConnectItemHeading {
          text-align: end;
          @media (max-width: $max-width-medium-device) {
            text-align: center;
          }
        }

        .stack {
          justify-content: flex-end;
          @media (max-width: $max-width-medium-device) {
            justify-content: center;
          }

          .socialIconsContainer {
            width: 70%;
            flex-wrap: wrap;
            justify-content: end;
            @media screen and (max-width: $max-width-medium-device) {
              width: 100%;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
